/* Login.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.login-page {
  background-image: url('/public/images/background-login.jpg'); /* Adjust path accordingly */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiContainer-root {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
